.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

.idea/
.vscode/
.theia/
.project/
.settings/

flutter_export_environment.sh
.flutter-plugins-dependencies

key.properties
secrets_manager.class.dart
pubspec.lock
