.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

.idea/
.vscode/
.theia/
.project/
.settings/

flutter_export_environment.sh

key.properties
premium_features_manager.class.dart
pubspec.lock